h1 {
    margin: 0;
    color: rgb(61, 99, 52);
}

.btn-add{
  background-color: #E1ECC8;
  color: #A0C49D;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius:5px;
}

.btn-delete-table, .btn-plus-table{
  width: 60px;
  height: 40px;
  margin-right: 10px;
  background-color: #E1ECC8;
  color: #A0C49D;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius:5px;
  border-color: #E1ECC8;
}

input {
    margin: 10px;
}

.center{
    top:30%;
    right: 10px;
}

  #popup{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    display: none;
  }


  #popup .popup-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 10px 20px;
    background: #eee;
  }

  
  #popup a.close-popup{
    position: absolute;
    top: 20px;
    right: 20px;   
    font-size: 20px;    
    font-weight: 600;  
    text-decoration: none;
  }

  #popup:target{
    display: block;
  }

  table,
  td {
      border: 2px solid #C4D7B2;
      border-radius: 5px;
      padding: 15px;
      color: #A0C49D;
  }

  thead,
  tfoot {
      background-color: #C4D7B2;
      color: #A0C49D;
  }
