.btn-add {
  background-color: #E1ECC8;
  color: #A0C49D;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
}

.btn-add:hover{
  background-color:  #A0C49D;
  color: #E1ECC8;
}

input {
  margin: 10px;
}

/* no character section*/

.no-character{
  display: flex;
  justify-content: center;
  background-color: #E1ECC8;
  color: #A0C49D;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #A0C49D;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

/* css-popup*/

#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}

#popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 10px 20px;
  background: #eee;
}

#popup a.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

#popup:target {
  display: block;
}