.container-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    border: 1mm solid black;
    width: 350px;
    height: 350px;
    border-radius: 7px;
    background-color: rgb(158, 123, 123);
    margin: 10px;
}

.name, .class, .age{
    grid-column: span 4;
    text-align: center;
    padding: 15px;
}

.name-color{
    background-color: red;
    border-radius: 7px;
}

.btn-delete{ 
    grid-column: span 4;
}

li {
    list-style: none;         
}

