.drawer {
    background-color: #E1ECC8;
    height: 600px;
    width: 300px;
    margin-left: -210px;
    transition: 0.4s;
}

.drawer-toggle {
    background-color: #E1ECC8;
    height: 600px;
    width: 300px;
    margin-left: 0px;
    transition: 0.4s;
}

.button-drawer {
    margin-left: 200px;
    margin-top: 30px;
    height: 70px;
    cursor:pointer;
}