.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
}

.formPart1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formPart2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .wrapper input{
    height: 30px;
    width: 250px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    background-color: #E1ECC8;
    color: #A0C49D;
    border-radius: 5px;
    border-color: #A0C49D;
    font-size: 15px;
    font-weight: 600;
} */

.wrapper select{
    height: 30px;
    width: 275px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    background-color: #E1ECC8;
    color: #A0C49D;
    border-radius: 5px;
    border-color: #A0C49D;;
    font-size: 15px;
    font-weight: 600;
}

/* .wrapper button{
    height: 40px;
    width: 275px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #E1ECC8;
    color: #A0C49D;
    border-color: #A0C49D;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
} */

.wrapperSkillz{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    list-style: none;
}