.App {
  text-align: center;
} 

.flex{
  display:grid;
  grid-template-rows: 150px 1fr 100%;
}

.header{
  grid-row: span 1; 
  display:flex;
  justify-content:center;
  flex-direction: column;
  background-color: #E1ECC8;
}

.header h1{
  color: #A0C49D;
  font-size: 120px;
}

.main-section{
  display: flex;
}

.footer{
  background-color: #E1ECC8;
  height: 200px;
}








